In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName("dataframe").getOrCreate()

In [7]:
data=spark.read.csv("C:/Users/dread-miles/Documents/test2.csv",header=True,inferSchema=True)

In [8]:
data.show(5)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
+---------+---+----------+------+
only showing top 5 rows

# lets perform filter operation

In [15]:
data.filter("Salary<20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [18]:
data.filter("Salary>20000").select(["Name","age"]).show()

+---------+----+
|     Name| age|
+---------+----+
|    Krish|  31|
|Sudhanshu|  30|
|   Mahesh|null|
|     null|  34|
+---------+----+

In [19]:
data.filter(data["Salary"]>20000).select(["Name","age"]).show()

+---------+----+
|     Name| age|
+---------+----+
|    Krish|  31|
|Sudhanshu|  30|
|   Mahesh|null|
|     null|  34|
+---------+----+

In [20]:
data.filter((data["Salary"]>20000) & (data["age"]>30)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
| null| 34|        10| 38000|
+-----+---+----------+------+